$primary-color: green;
$secondary-color: red;

$dark-gray: #333;
$gray: #cecece;
$light-gray: #eee;

$potato-color: brown;
$font-color: $dark-gray;

$display-mobile: 456px;
$display-tablet: 870px;
$display-desktop: 1026px;
$display-wide: 1326px;